.btn{
  border-radius: 16px;
  padding-left: 22px;
  padding-right: 22px;

  &.btn-primary{
    background-color: $btnPrimary;
    text-transform: uppercase;
    border: none;
    color: $dark;
  }
}
