$primary: #f9c9b4;
$dark: #333333;
$grayLight: #f2f2f2;
$white: #ffffff;
$gray: #4d4d4d;
$hButton: 54px;
$borderRadius: 26px;
$h1font: 38px;
$h1fontmobile: 30px;
$h2font: 28px;
$h2fontmobile: 22px;
$h3font: 26px;
$h3fontmobile: 20px;
$h4font: 16px;
$font-family-sans-serif:   'Montserrat', sans-serif;
$pFont: 20px;
$btnPrimary: $primary;




$customBorderRadius: 26px;
$badge-border-radius: 8px;
$bgCard: #ecf8f7;
$bgCard-03: #54c4bf1f;
$colorUserCard: #1e6866;
$bgShadow: rgba(149, 157, 165, 0.2) 0px 6px 12px;

